@page "/stuffy"
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using Stuffy.Website.Shared.Models;
@*@attribute [Authorize]*@
@inject HttpClient Http

<h3>View All Saved Stuffies</h3>

if (stuffies == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Colour</th>
                <th>Number of Connections</th>
            </tr>
        </thead>
        <tbody>
        @foreach (var stuffy in stuffies)
        {
                    <tr>
                        <td>@stuffy.Name</td>
                        <td>@stuffy.ColourCode</td>
                        <td>@stuffy.Connections.Count()</td>
                    </tr>
        }
        </tbody>
    </table>
}

@code {
    private NodeViewModel[]? stuffies;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            stuffies = await Http.GetFromJsonAsync<NodeViewModel[]>("WeatherForecast");
        }
        catch (AccessTokenNotAvailableException exception)
        {
            exception.Redirect();
        }
    }
}
