@page "/stuffy"
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using Stuffy.Website.Shared.Models;
@attribute [Authorize]
@inject HttpClient Http

<h3>View All Saved Stuffies</h3>

@if (stuffies == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <button href="stuffy/add">Add A Stuffy</button>
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Colour</th>
                <th>Description</th>
                <th>Number of Connections</th>
            </tr>
        </thead>
        <tbody>
        @foreach (var stuffy in stuffies)
        {
                    <tr>
                        <td><a href="/stuffy/@stuffy.Id">@stuffy.Name</a></td>
                        <td style="background-color:@stuffy.ColourCode">@stuffy.ColourCode</td>
                        <td>@((!string.IsNullOrEmpty(stuffy.Description)  && stuffy.Description.Length > 22) ? stuffy.Description.Substring(0, 22) + "..." : stuffy.Description)</td>
                        <td>@stuffy.Connections.Count()</td>
                    </tr>
        }
        </tbody>
    </table>
}

@code {
    private NodeViewModel[]? stuffies;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            stuffies = await Http.GetFromJsonAsync<NodeViewModel[]>("api/node");
        }
        catch (AccessTokenNotAvailableException exception)
        {
            exception.Redirect();
        }
    }
}
