<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Stuffy.Website</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="stuffy">
                <span class="oi oi-home" aria-hidden="true"></span> Stuffies
            </NavLink>
            <ul class="nav flex-column">
                <li class="px-3 nav-item">
                    <NavLink class="nav-link" href="stuffy/add" Match=@NavLinkMatch.All>
                    <span class="oi oi-plus" aria-hidden="true"></span>Add a Stuffy
                    </NavLink>
                </li>
                <li class="px-3 nav-item">
                    <NavLink class="nav-link" href="stuffy/diagram" Match=@NavLinkMatch.All>
                    <span class="oi oi-plus" aria-hidden="true"></span> Diagram Test
                    </NavLink>
                </li>
            </ul>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="connection">
                <span class="oi oi-home" aria-hidden="true"></span> Connections
            </NavLink>
            <ul class="nav flex-column">
                <li class="px-3 nav-item">
                    <NavLink class="nav-link" href="connection/add" Match=@NavLinkMatch.All>
                    <span class="oi oi-plus" aria-hidden="true"></span>Add a Connection
                    </NavLink>
                </li>
            </ul>
        </li>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
